@font-face {
	font-family: 'Saira';
	src: url('../fonts/Saira/Saira-Regular.eot');
	src: url('../fonts/Saira/Saira-Regular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Saira/Saira-Regular.woff2') format('woff2'),
		 url('../fonts/Saira/Saira-Regular.woff') format('woff'),
		 url('../fonts/Saira/Saira-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'Saira';
	src: url('../fonts/Saira/Saira-Medium.eot');
	src: url('../fonts/Saira/Saira-Medium.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Saira/Saira-Medium.woff2') format('woff2'),
		 url('../fonts/Saira/Saira-Medium.woff') format('woff'),
		 url('../fonts/Saira/Saira-Medium.ttf') format('truetype');
	font-style: normal;
	font-weight: 500;
}
@font-face {
	font-family: 'Saira';
	src: url('../fonts/Saira/Saira-SemiBold.eot');
	src: url('../fonts/Saira/Saira-SemiBold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Saira/Saira-SemiBold.woff2') format('woff2'),
		 url('../fonts/Saira/Saira-SemiBold.woff') format('woff'),
		 url('../fonts/Saira/Saira-SemiBold.ttf') format('truetype');
	font-style: normal;
	font-weight: 600;
}
@font-face {
	font-family: 'Saira';
	src: url('../fonts/Saira/Saira-Bold.eot');
	src: url('../fonts/Saira/Saira-Bold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Saira/Saira-Bold.woff2') format('woff2'),
		 url('../fonts/Saira/Saira-Bold.woff') format('woff'),
		 url('../fonts/Saira/Saira-Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: 700;
}
@font-face {
	font-family: 'Saira';
	src: url('../fonts/Saira/Saira-Black.eot');
	src: url('../fonts/Saira/Saira-Black.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Saira/Saira-Black.woff2') format('woff2'),
		 url('../fonts/Saira/Saira-Black.woff') format('woff'),
		 url('../fonts/Saira/Saira-Black.ttf') format('truetype');
	font-style: normal;
	font-weight: 900;
}