* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Saira", sans-serif;
    color: #ffffff;
}

:root {
    --black: #000000;
    --white: #FFFFFF;
    --main: #13191D;
    --red: #c01818;
    --red-text: #ca1217;
}

body {
    background: var(--main);
}

@import 'base/*.scss';
@import 'blocks/*.scss';