.about {
    background: var(--main);
    min-height: 653px;
    &__wrapper {
        display: grid;
        grid-template-columns: 4fr 8fr;
        gap: 32px;
        position: relative;
        min-height: 300px;
    }
    &__text-block {
        grid-column: 1 / 2;
        width: 100%;
        position: absolute;
    }
    // &__anim {
    //     position: absolute;
    //     width: 100%;
    //     top: 0;
    // }
    &__title {
        font: 500 40px var(--font-family);
        font-size: 40px;
        font-weight: 500;
        text-transform: uppercase;
        color: var(--red-text);
        margin-bottom: 16px;
    }
    &__descr {
        font-size: 14px;
        font-weight: 400;
        color: #eee;
    }
    &__img-block {
        width: 100%;
        grid-column: 2 / 3;
        display: block;
        position: absolute;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 20px;
        }
    }
}