.haracteristics {
    // min-height: 1644px;
    padding-top: 172px;
    background: var(--main);
    position: relative;
    overflow: hidden;
    &__wrapper {
        min-height: 960px;
        display: grid;
        grid-template: repeat(3, 320px) / 1fr;
        position: relative;
    }
    &__foto {
        grid-area: 1 / 1 / 4 / 2;
        width: 100%;
        img {
            @include img-contain;
        }
    }
    &__descr {
        grid-area: 2 / 1 / 3 / 2;
        min-height: 320px;
        display: grid;
        align-items: flex-start;
        grid-template-columns: repeat(3, 3fr 4px) 3fr;
        text-align: center;
        position: absolute;
        width: 100%;
        top: 320px;
        animation-delay: .5s;
    }
    &__num {
        font-size: 100px;
        font-weight: 600;
        line-height: 90%;
        padding-top: 100px;
        span {
            font-size: 40px;
            font-weight: 400;
        }
    }
    &__txt {
        font-size: 18px;
        font-weight: 400;
        text-transform: uppercase;
        align-content: flex-start;
    }
    &__divider {
        width: 4px;
        height: 320px;
        background: var(--red);
    }
}

@media (max-width: 1440px) {
    .haracteristics {
        &__num {
            font-size: 80px;
            span {
                font-size: 36px;
            }
        }
    }
}

@media (max-width: 1200px) {
    .haracteristics {
        padding-top: 100px;
        &__num {
            font-size: 70px;
            span {
                font-size: 30px;
            }
        }
    }
}

@media (max-width: 992px) {
    .haracteristics {
        padding-top: 100px;
        &__wrapper {
            min-height: 560px;
            grid-template: repeat(2, 280px) / 1fr;
        }
        &__foto {
            grid-area: 1 / 1 / 3 / 2;
            img {
                @include img-contain
            }
        }
        &__descr {
            grid-area: 1 / 1 / 2 / 2;
            min-height: 280px;
            grid-template: repeat(2, 1fr) / repeat(2, 1fr);
            animation-delay: .5s;
        }
        &__text {
            padding: 60px 0;
        }
        &__num {
            font-size: 100px;
            padding: 0;
            span {
                font-size: 40px;
            }
        }
        &__divider {
            width: 100vw;
            height: 2px;
            position: absolute;
            top: 50%;
            left: -70px;
        }
    }
}

@media (max-width: 768px) {
    .haracteristics {
        padding-top: 86px;
        &__wrapper {
            min-height: 480px;
            grid-template: repeat(2, 240px) / 1fr;
        }
        &__descr {
            min-height: 280px;
        }
        &__text {
            padding: 60px 0 40px 0;
        }
        &__num {
            font-size: 70px;
            padding: 0;
            span {
                font-size: 30px;
            }
        }
    }
}

@media (max-width: 576px) {
    .haracteristics {
        padding-top: 72px;
        &__wrapper {
            min-height: 460px;
            grid-template: repeat(2, 228px) / 1fr;
        }
        &__foto {
            height: 456px;
            img {
                object-fit: cover;
            }
        }
        &__descr {
            min-height: 228px;
        }
        &__text {
            padding: 60px 0;
        }
        &__num {
            font-size: 42px;
            padding: 0;
            span {
                font-size: 18px;
            }
        }
        &__txt {
            font-size: 14px;
        }
    }
}