.header {
    background: url('../../img/header/header_bg.jpg') center center/cover no-repeat;
    padding: 24px 0 207px 0;
    position: relative;
    overflow: hidden;
    
    &__nav-panel {
        display: grid;
        grid-template-columns: min-content 1fr max-content;
        align-items: center;
        padding-bottom: 24px;
        margin-bottom: 112px;
    }
    &__nav-menu {
        grid-column: 3 / 4;
        display: grid;
        grid-template-columns: repeat(6, max-content);
        gap: 40px;
        align-items: center;
        list-style: none;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        a {
            color: #000;
            text-decoration: none;
        }
        li {
            padding-bottom: 4px;
            &:hover {
                border-bottom: 2px solid var(--white);
                padding-bottom: 2px;
            }
        }
        &_active {
            border-bottom: 2px solid var(--red-text);
        }
    }
    &__hamburger-btn {
        display: none;
    }
    &__divider {
        width: 100%;
        height: 1px;
        background: var(--white);
        position: absolute;
        left: 0;
        top: 94px;
    }
    &__descr {
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px 26px;
        min-height: 666px;
        align-items: center;
    }
    &__text {
        grid-column: 1 / 2;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 75%;
        left: -100%;
        animation: leftToRight .9s ease 1s both;
    }
    &__title {
        position: relative;
        font-size: 44px;
        font-weight: 600;
        line-height: 132%;
        background: linear-gradient(324deg, #eb1d23 0%, #a30003 100%);
        background-clip: text;
        backface-visibility: hidden;
        color: transparent;
        backface-visibility: hidden;
        margin-bottom: 28px;
        white-space: nowrap;
        &::after {
            content: '';
            position: absolute;
            width: 140px;
            height: 2px;
            background: var(--red);
            bottom: -10px;
            left: 0;
        }
        span {
            color: var(--white);
        }
    }
    &__txt {
        font-size: 16px;
        font-weight: 400;
        line-height: 137%;
        margin-bottom: 32px;
    }
    &__img {
        grid-column: 2 / 3;
        position: absolute;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 289px 337px;
        gap: 40px 24px;
        right: -150%;
        animation: rightToLeft .9s ease 1.6s both;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 40px;
        }
    }
    &__foto {
        &_1 {
            grid-area: 1 / 1 / 2 / 2;
        }
        &_2 {
            grid-area: 1 / 2 / 2 / 3;
        }
        &_3 {
            grid-column: 1 / 3;
        }
    }
}

@media (max-width: 1200px) {
    .header {
        padding: 24px 0 120px 0;
        &__img {
            grid-template-rows: 200px 280px;
            gap: 20px 20px;
        }
        &__descr {
            min-height: 500px;
        }
    }
}

@media (max-width: 1024px) {
    .header {
        &__nav-panel {
            margin-bottom: 80px;
        }
        &__img {
            grid-template-rows: 160px 220px;
        }
        &__descr {
            min-height: 400px;
        }
    }
}

@media (max-width: 992px) {
    .header {
        padding: 24px 0 80px 0;
        &__nav-panel {
            grid-template-columns: min-content 20px max-content;
        }
        &__nav-menu {
            gap: 20px;
        }
        &__descr {
            min-height: 360px;
        }
        &__text {
            width: 100%;
        }
        &__title {
            font-size: 36px;
        }
        &__img {
            grid-template-rows: 140px 200px;
        }
    }
}

@media (max-width: 768px) {
    .header {
        padding: 24px 0 40px 0;
        
        &__nav-panel {
            margin-bottom: 110px;
            position: relative;
        }
        &__logo {
            width: 146px; 
            height: 48px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &__nav-menu {
            display: none;
        }
        &__hamburger-btn {
            display: block;
            width: 27px;
            height: 14px;
            position: absolute;
            right: 0;
            top: 20px;
            cursor: pointer;
            span {
                width: 100%;
                height: 2px;
                background: var(--white);
                display: block;
                margin-bottom: 4px;
                &:last-child {
                    width: 60%;
                    margin-left: 40%;
                }
            }
        }
        &__descr {
            position: relative;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 282px 590px;
            gap: 97px;
            min-height: 666px;
            align-items: center;
        }
        &__text {
            grid-area: 1 / 1 / 2 / 2;
            width: 75%;
        }
        &__title {
            font-size: 44px;
            margin-bottom: 34px;
        }
        &__img {
            grid-area: 2 / 1 / 3 / 2;
            grid-template-rows: 263px 307px;
            gap: 20px;
        }
    }
}

@media (max-width: 576px) {
    .header {
        padding: 20px 0 88px 0;
        
        &__nav-panel {
            margin-bottom: 88px;
        }
        &__logo {
            width: 114px; 
            height: 32px;
        }
        &__hamburger-btn {
            top: 10px;
        }
        &__divider {
            top: 72px;
        }
        &__descr {
            width: 100%;
            grid-template-rows: 282px 273px;
            gap: 40px;
            min-height: 565px;
        }
        &__text {
            grid-area: 1 / 1 / 2 / 2;
            width: 100%;
        }
        &__title {
            font-family: Saira;
            font-size: 30px;
            font-weight: 700;
            line-height: 50px;
            letter-spacing: 0%;
            margin-bottom: 22px;
        }
        &__txt {
            font-size: 14px;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: 0%;
            margin-bottom: 24px;
        }
        &__img {
            grid-area: 2 / 1 / 3 / 2;
            grid-template-rows: 120px 140px;
            gap: 20px;
            width: 100%;
            img {
                border-radius: 10px;
            }
        }
    }
}