.timer {
    width: 100%;
    padding: 40px 40px 32px 40px;
    backdrop-filter: blur(8px);
    box-shadow: 10px 10px 61px 0 rgba(23, 23, 23, 0.1);
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%);
    border-radius: 20px;
    &__title {
        color: var(--red-text);
        font-size: 32px;
        font-weight: 400;
        margin-bottom: 10px;
    }
    &__deadline {
        display: flex;
        align-items:center;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    &__txt {
        font-size: 20px;
        font-weight: 600;
        span {
            display: block;
            font-size: 14px;
            font-weight: 400;
            text-transform: uppercase;
        }
    }
    &__panel {
        display: grid;
        grid-template-columns: repeat(4, 120px 1fr) 120px;
        gap: 8px;
        align-items: center;
        text-align: center;
    }
    &__box {
        width: 100%;
        padding: 24px 0 16px;
        background: var(--main);
        border-radius: 8px;
        div {
            color: #ca1217;
            font-size: 56px;
            font-weight: 300;
            line-height: 50px;
        }
        span {
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 300;
        }
    }
    &__divide {
        color: var(--red-text);
        font-size: 64px;
        font-weight: 700;
        line-height: 64px;
        text-align: center;
        animation: hiddenShow 1s ease infinite;
    }
}

@media (max-width: 1440px) {
    .timer {
        &__panel {
            grid-template-columns: repeat(4, 80px 1fr) 80px;
        }
        &__box {
            padding: 18px 0 16px;
            div {
                font-size: 50px;
            }
        }
        &__divide {
            font-size: 50px;
        }
    }
}
@media (max-width: 1200px) {
    .timer {
        padding: 30px;
        &__title {
            font-size: 28px;
        }
        &__txt {
            font-size: 18px;
            font-weight: 600;
            span {
                font-size: 14px;
            }
        }
        &__panel {
            grid-template-columns: repeat(4, 65px 1fr) 65px;
        }
        &__box {
            padding: 10px 0;
            div {
                font-size: 42px;
                line-height: 40px;
            }
            span {
                font-size: 12px;
            }
        }
        &__divide {
            font-size: 40px;
        }
    }
}

@media (max-width: 992px) {
    .timer {
        padding: 20px;
        &__title {
            font-size: 24px;
        }
        &__txt {
            font-size: 14px;
            span {
                font-size: 12px;
            }
        }
        &__panel {
            grid-template-columns: repeat(4, 60px 1fr) 60px;
        }
        &__box {
            padding: 10px 0;
            div {
                font-size: 36px;
                line-height: 36px;
            }
            span {
                font-size: 10px;
            }
        }
        &__divide {
            font-size: 36px;
        }
    }
}

@media (max-width: 768px) {
    .timer {
        padding: 16px;
        &__title {
            font-size: 16px;
            margin-bottom: 6px;
        }
        &__deadline {
            margin-bottom: 6px;
        }
        &__txt {
            font-size: 16px;
            span {
                font-size: 12px;
            }
        }
        &__panel {
            grid-template-columns: repeat(4, 50px 1fr) 50px;
            gap: 6px;
        }
        &__box {
            div {
                font-size: 24px;
                line-height: 24px;
            }
            span {
                font-size: 8px;
            }
        }
        &__divide {
            font-size: 24px;
            line-height: 24px;
        }
    }
}

@media (max-width: 576px) {
    .timer {
        padding: 24px 12px;
        min-width: 300px;
        &__title {
            font-size: 20px;
            margin-bottom: 12px;
        }
        &__deadline {
            display: flex;
            margin-bottom: 10px;
        }
        &__txt {
            font-size: 18px;
            span {
                font-size: 12px;
            }
        }
        &__panel {
            grid-template-columns: repeat(4, 46px 1fr) 46px;
            gap: 2px;
        }
        &__box {
            border-radius: 4px;
            height: 50px;
            div {
                font-size: 24px;
                line-height: 14px;
            }
            span {
                font-size: 8px;
            }
        }
        &__divide {
            font-size: 24px;
            line-height: 14px;
        }
    }
}